:root {
  --main-color: #2e2f42;
  --second-color: #434455;
  --color-active: #404bbf;
  --bcg-btn-main: #4d5ae5;
  --bcg-btn-active: #404bbf;
  --color-white: #ffffff;
  --bcg-pink: #f4f4fd;
  --border-header: #e7e9fc;
  --border: #8e8f99;
  --btn-color: #e7e9fc;
  --footer-social: #31d0aa;
  --modal: #fcfcfc;
  --modal-btn: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-white);
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -----------Reset styles----------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------------Logo------------- */

.header-span {
  color: var(--main-color);
}

/* --------------------Header------------- */
.header {
  border-bottom: 1px solid var(--border-header);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-btn-main);
  text-decoration: none;
  margin-right: 76px;
  padding: 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.link {
  text-decoration: none;
}

.content {
  color: var(--bcg-btn-active);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current {
  color: var(--bcg-btn-active);
}

.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--bcg-btn-active);
  border-radius: 2px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.content:hover,
.content:focus {
  color: var(--color-active);
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-active);
}

/* ---------------Hero------------- */
.hero {
  padding: 188px 0;
  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--bcg-btn-main);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bcg-btn-active);
}

/* -----------------Advantages------------ */
.advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--bcg-pink);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* ----------------------What are we doing----------- */
.what {
  padding-bottom: 120px;
}

.what-div {
}

.what-list {
  display: flex;
  gap: 24px;
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.what-item {
  width: calc((100% - 48px) / 3);
}

/* ----------------Our team---------------------- */
.ourteam {
  background-color: var(--bcg-pink);
  padding: 120px 0;
}

.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}

.people {
  background-color: var(--color-white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-people {
  padding: 32px 0;
}

.ourteam-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 8px;
}

.ourteam-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 8px;
}

.network {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.network-list {
  width: 40px;
  height: 40px;
}

.network-link {
  background-color: var(--bcg-btn-main);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
  fill: var(--bcg-pink);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--bcg-btn-active);
}

/* ------------------Customers------------ */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--main-color);
  margin-bottom: 72px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--border);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-active);
  color: var(--color-active);
}

.customers-icon {
  fill: currentColor;
}

/* ----------------------------Footer-------------- */
.footer {
  background-color: var(--main-color);
  padding: 100px 0;
}

.footer-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-div-logo {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-btn-main);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-pink);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bcg-pink);
  max-width: 264px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  height: 100%;
  width: 100%;
  background-color: var(--bcg-btn-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--footer-social);
}

.footer-icon {
  fill: var(--bcg-pink);
}

/* ----------Subscribe------- */
.footer-subscribe {
  margin-left: 80px;
}
.form-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.subscribe-label {
}

.icon-subscribe {
  fill: var(--color-white);
  margin-left: 16px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-right: 24px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
  color: var(--color-white);
}

.subscribe-btn {
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--bcg-btn-main);
  padding: 8px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--bcg-btn-active);
}
/********************---Portfolio--***********************/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--bcg-btn-main);
  background-color: var(--bcg-pink);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-active);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ------------------Examples-------------------------- */
.examples {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.examples-item {
  width: calc((100% - 48px) / 3);
}
.examples-a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.examples-a:hover,
.examples-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 0;
}

.examples-a:hover .overlay,
.examples-a:focus .overlay {
  transform: translateY(0%);
}

.example-name {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--border-header);
  border-top: none;
}

.example-name .overlay {
  padding: 32px 16px;
  border: 1px solid var(--border-header);
  border-top: none;
  column-gap: 24px;
}

.examples-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 8px;
}

.examples-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bcg-pink);
  padding: 40px 32px;
  background-color: var(--bcg-btn-main);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------Modal----- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: var(--modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  right: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 24px;
  width: 24px;
  background-color: var(--modal-btn);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--bcg-btn-active);
  fill: var(--color-white);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-form {
}

.div-privacy {
  margin-bottom: 24px;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--bcg-btn-main);
}

.modal-input:hover + .input-icon {
  fill: var(--bcg-btn-main);
}
.modal-input:focus + .input-icon {
  fill: var(--bcg-btn-main);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border);
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}
.div-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-textarea:focus {
  border-color: var(--bcg-btn-main);
}

.modal-textarea::placeholder {
  border-color: var(--bcg-btn-main);
}

.input-check {
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border);
}

.check-text a {
  color: var(--bcg-btn-main);
}

.span-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  color: var(--bcg-btn-main);
}

.input-check:checked + .check-text span {
  background-color: var(--bcg-btn-active);
  fill: var(--bcg-pink);
  border: none;
}

.modal-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--bcg-btn-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 66px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:is(:hover, :focus) {
  background-color: var(--bcg-btn-active);
  fill: var(--color-white);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
